<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="extensions:os0x-AutoPatchWork"
        version="1.9.9">
  <name>AutoPatchWork</name>
  <description>Automatically loads the next page and inserts into current page.</description>
  <author href="http://os0x.heteml.jp/">os0x</author>
  <icon src="Icon-64.png"/>
  <access origin="http://os0x.heteml.jp" subdomains="true"/>
  <access origin="http://wedata.net" subdomains="true"/>
  <update-description href="https://ssl68.heteml.jp/os0x/ss-onet/opera/extension/AutoPatchWork.update.xml"/>
</widget>
